<div class="container">
  <div class="row">
    <% tasks.each do |task| %>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="mb-4">
          <%= render "tasks/card", task: task %>
        </div>
      </div>
    <% end %>
  </div>
</div>
