<div class="alert alert-danger text-center" role="alert">
  There is no current active wave!
  <% if @current_wave.nil? %>
    <%= link_to new_wave_path, class: "alert-link" do %>
      Generate a new one.
    <% end %>
  <% elsif @current_wave.waiting? %>
    <%= link_to edit_wave_path(@current_wave.id), class: "alert-link" do %>
      Finalize and commit to the new one.
    <% end %>
  <% end %>
</div>
